<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Dashboard - Pause-Café</title>
    <link rel="shortcut icon" href="/images/icon-coffee.svg">
</head>

<body>


    <div class="mt-3 ms-3">
        <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="37.5" cy="37.5" r="37.5" fill="#253438" />
            <path
                d="M47 30.3333H48.6667C50.4348 30.3333 52.1305 31.0357 53.3807 32.2859C54.631 33.5362 55.3333 35.2319 55.3333 37C55.3333 38.7681 54.631 40.4638 53.3807 41.714C52.1305 42.9643 50.4348 43.6667 48.6667 43.6667H47"
                stroke="#71BBC9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path
                d="M20.3334 30.3333H47V45.3333C47 47.1014 46.2977 48.7971 45.0474 50.0474C43.7972 51.2976 42.1015 52 40.3334 52H27C25.2319 52 23.5362 51.2976 22.286 50.0474C21.0358 48.7971 20.3334 47.1014 20.3334 45.3333V30.3333Z"
                stroke="#71BBC9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M27 18.6667V23.6667" stroke="#71BBC9" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M33.6666 18.6667V23.6667" stroke="#71BBC9" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            <path d="M40.3334 18.6667V23.6667" stroke="#71BBC9" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
    </div>

    <main class="d-flex">
        <nav class="ms-5" style=" width: 380px; margin-top: 104px;">
            <ul style="color: aliceblue;">
                <li>
                    <a class="a-dash" href="/dashboard">
                        <span>
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M30 4.5H6C4.34315 4.5 3 5.84315 3 7.5V22.5C3 24.1569 4.34315 25.5 6 25.5H30C31.6569 25.5 33 24.1569 33 22.5V7.5C33 5.84315 31.6569 4.5 30 4.5Z"
                                    stroke="#589CA6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M12 31.5H24" stroke="#589CA6" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M18 25.5V31.5" stroke="#589CA6" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </span>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a class="a-dash" href="/produtos">
                        <span>
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 4.5H4.5V15H15V4.5Z" stroke="#589CA6" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M31.5 4.5H21V15H31.5V4.5Z" stroke="#589CA6" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M31.5 21H21V31.5H31.5V21Z" stroke="#589CA6" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M15 21H4.5V31.5H15V21Z" stroke="#589CA6" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                        Produtos
                    </a>
                </li>
                <li>
                    <a class="a-dash" href="/planos">
                        <span>
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 1.5V34.5" stroke="#589CA6" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M25.5 7.5H14.25C12.8576 7.5 11.5223 8.05312 10.5377 9.03769C9.55312 10.0223 9 11.3576 9 12.75C9 14.1424 9.55312 15.4777 10.5377 16.4623C11.5223 17.4469 12.8576 18 14.25 18H21.75C23.1424 18 24.4777 18.5531 25.4623 19.5377C26.4469 20.5223 27 21.8576 27 23.25C27 24.6424 26.4469 25.9777 25.4623 26.9623C24.4777 27.9469 23.1424 28.5 21.75 28.5H9"
                                    stroke="#589CA6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                        </span>
                        Planos
                    </a>
                </li>
            </ul>
            <hr class="ms-3">
            <a href="/logout" class="btn btn-login mb-5 ms-4">Sair</a>
        </nav>
        <!-- MODAL DO BOTAO ADICIONAR -->
        <div class="modal fade" id="modal-add" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn button-back" data-bs-dismiss="modal">
                            <span>
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.75 15H6.25" stroke="#1E2526" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M15 23.75L6.25 15L15 6.25" stroke="#1E2526" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                        </button>
                        <h5 class="modal-title n-product">Novo produto</h5>

                    </div>
                    <div class="modal-body">
                        <form method="post" action="/produtos" class="form-floating" enctype="multipart/form-data">
                            <div class="d-flex flex-column justify-content-center align-items-center">

                                <div class="form-floating floating-add  mb-1">
                                    <input type="text" class="form-control" id="floatingTextAdd" name="name" placeholder="Nome do produto">
                                    <label for="floatingTextAdd">Nome do produto</label>
                                </div>

                                <div class="form-floating floating-add mb-1">
                                    <textarea class="form-control" placeholder="Descrição" id="textareaModalAdd" name="description" style="height: 100px"></textarea>
                                    <label for="textareaModalAdd">Descrição</label>
                                </div>

                                <div class="form-floating floating-add mb-1">
                                    <input type="number" class="form-control" id="floatingQuantAdd" name="quantity" placeholder="Quantidade" min="1">
                                    <label for="floatingQuantAdd">Quantidade</label>
                                </div>

                                <div class="form-floating floating-add mb-1">
                                    <input type="text" class="form-control" id="floatingPriceAdd" name="price" placeholder="Preço">
                                    <label for="floatingPriceAdd">Preço</label>
                                </div>

                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Selecione uma imagem</label>
                                    <input class="form-control" name="image" type="file" id="formFile">
                                </div>

                                <button type="submit" class="btn button-add">Adicionar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM DA MODAL DO BOTAO ADICIONAR -->

        <!-- MODAL VISUALIZAR -->
        <div class="modal fade" id="modal-view" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn button-back" data-bs-dismiss="modal">
                            <span>
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.75 15H6.25" stroke="#1E2526" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M15 23.75L6.25 15L15 6.25" stroke="#1E2526" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                        </button>
                        <h5 class="modal-title n-product">Visualizar produto</h5>

                    </div>
                    <div class="modal-body">
                        <form class="form-floating">
                            <div class="d-flex flex-column justify-content-center align-items-center">

                                <div class="form-floating floating-add  mb-1">
                                    <input type="text" class="form-control" id="floatingTextShow" placeholder="Nome do produto" value="" disabled readonly>
                                    <label for="floatingTextShow">Nome do produto</label>
                                </div>

                                <div class="form-floating floating-add mb-1">
                                    <textarea class="form-control" placeholder="Descrição" id="textareaModalShow" style="height: 100px" disabled readonly></textarea>
                                    <label for="textareaModalShow">Descrição</label>
                                </div>

                                <div class="form-floating floating-add mb-1">
                                    <input type="number" class="form-control" id="floatingQuantShow" placeholder="Quantidade" min="1" value="" disabled readonly>
                                    <label for="floatingQuantShow">Quantidade</label>
                                </div>

                                <div class="form-floating floating-add mb-1">
                                    <input type="text" class="form-control" id="floatingPriceShow" placeholder="Preço" value="" disabled readonly>
                                    <label for="floatingPriceShow">Preço</label>
                                </div>

                                <div class="mb-3">
                                    <img src="" alt="" srcset="" id="imageToShow" style="max-width: 144px;">
                                
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM MODAL VISUALIZAR -->
        <!-- MODAL EDITAR -->
        <div class="modal fade" id="modal-edit" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn button-back" data-bs-dismiss="modal">
                            <span>
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.75 15H6.25" stroke="#1E2526" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M15 23.75L6.25 15L15 6.25" stroke="#1E2526" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                        </button>
                        <h5 class="modal-title n-product">Editar produto</h5>

                    </div>
                    <div class="modal-body">
                        <form method="post" action="" id="formToEdit" class="form-floating" enctype="multipart/form-data">
                            <div class="d-flex flex-column justify-content-center align-items-center">

                                <div class="form-floating floating-add  mb-1">
                                    <input type="text" class="form-control" id="floatingTextEdit" name="name" placeholder="Nome do produto" value="">
                                    <label for="floatingTextEdit">Nome do produto</label>
                                </div>

                                <div class="form-floating floating-add mb-1">
                                    <textarea class="form-control" placeholder="Descrição" name="description" id="textareaModalEdit" style="height: 100px"></textarea>
                                    <label for="textareaModalEdit">Descrição</label>
                                </div>

                                <div class="form-floating floating-add mb-1">
                                    <input type="number" class="form-control" name="quantity" id="floatingQuantEdit" placeholder="Quantidade" min="1" value="">
                                    <label for="floatingQuantEdit">Quantidade</label>
                                </div>

                                <div class="form-floating floating-add mb-1">
                                    <input type="text" class="form-control" name="price" id="floatingPriceEdit" placeholder="Preço" value="">
                                    <label for="floatingPriceEdit">Preço</label>
                                </div>

                                <div class="mb-3">
                                    <img src="" alt="" srcset="" id="imageToEdit" style="max-width: 144px;">
                                    <input class="form-control" type="file" name="image" id="formFile">
                                </div>
                                <button type="submit" class="btn button-add" >Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM MODAL EDITAR -->
        <!-- MODAL EXCLUIR -->
        <div class="modal fade" id="modal-delete" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content  mdelete">
                    <div class="modal-header  mhddelete">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                    <div class="modal-body d-flex align-items-center justify-content-center">
                        <h3>Tem certeza que deseja excluir?</h3>
                      </div>
                      <div class="modal-footer d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-mbackdelete" data-bs-dismiss="modal">Voltar</button>
                        <button type="button" class="btn btn-mdelete" onclick="handleDelete()">Excluir</button>
                      </div>
                </div>
            </div>
        </div>
        <!-- FIM MODAL EXCLUIR -->

        <div class="d-flex flex-column align-items-center" style="width: 100%;">
            <div class="d-flex justify-content-end" style="width: 100%; max-width: 920px;">
                <button type="button" class="btn btn-modal-p mb-3" data-bs-toggle="modal" data-bs-target="#modal-add">
                    + Adicionar
                </button>
            </div>
            <table class="table" style="max-width: 920px;">
                <thead>
                    <tr>
                        <th>Cód</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <%products.forEach((product) => { %>
                        <tr>
                            <td><%= product.id %></th>
                            <td><%= product.name %></td>
                            <td><%= product.description %></td>
                            <td><%= product.quantity %></td>
                            <td><%= product.price %></td>
                            <td>
                                <span onclick="handleShow(<%= product.id %>)">
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modal-view">
                                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M1.45831 17.5C1.45831 17.5 7.29165 5.83334 17.5 5.83334C27.7083 5.83334 33.5416 17.5 33.5416 17.5C33.5416 17.5 27.7083 29.1667 17.5 29.1667C7.29165 29.1667 1.45831 17.5 1.45831 17.5Z"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M17.5 21.875C19.9162 21.875 21.875 19.9162 21.875 17.5C21.875 15.0838 19.9162 13.125 17.5 13.125C15.0838 13.125 13.125 15.0838 13.125 17.5C13.125 19.9162 15.0838 21.875 17.5 21.875Z"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </a>
                                </span>
                                <span onclick="setToEdit(<%= product.id %>)">
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modal-edit">
                                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.5 29.1667H30.625" stroke="white" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path
                                                d="M24.0625 5.10417C24.6427 4.52401 25.4295 4.19807 26.25 4.19807C26.6563 4.19807 27.0585 4.27809 27.4339 4.43356C27.8092 4.58903 28.1502 4.8169 28.4375 5.10417C28.7248 5.39143 28.9526 5.73247 29.1081 6.1078C29.2636 6.48313 29.3436 6.88541 29.3436 7.29167C29.3436 7.69792 29.2636 8.1002 29.1081 8.47553C28.9526 8.85087 28.7248 9.1919 28.4375 9.47917L10.2083 27.7083L4.375 29.1667L5.83333 23.3333L24.0625 5.10417Z"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </a>
                                </span>
                                <span onclick="setToDelete(<%= product.id %>)">
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modal-delete">
                                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.375 8.75H7.29167H30.625" stroke="white" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path
                                                d="M11.6667 8.75V5.83333C11.6667 5.05978 11.974 4.31792 12.521 3.77094C13.0679 3.22395 13.8098 2.91666 14.5834 2.91666H20.4167C21.1902 2.91666 21.9321 3.22395 22.4791 3.77094C23.0261 4.31792 23.3334 5.05978 23.3334 5.83333V8.75M27.7084 8.75V29.1667C27.7084 29.9402 27.4011 30.6821 26.8541 31.2291C26.3071 31.776 25.5652 32.0833 24.7917 32.0833H10.2084C9.43481 32.0833 8.69294 31.776 8.14596 31.2291C7.59898 30.6821 7.29169 29.9402 7.29169 29.1667V8.75H27.7084Z"
                                                stroke="white" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M14.5833 16.0417V24.7917" stroke="white" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M20.4167 16.0417V24.7917" stroke="white" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let idToDelete;
        let idToEdit;

        const setToDelete = (id) => {
            idToDelete = id;
        }
        
        const setToEdit = (id) => {
            idToEdit = id;

            const nameToEdit = document.getElementById('floatingTextEdit');
            const descriptionToEdit = document.getElementById('textareaModalEdit');
            const quantToEdit = document.getElementById('floatingQuantEdit');
            const priceToEdit = document.getElementById('floatingPriceEdit');
            const imageToEdit = document.getElementById('imageToEdit');
            const formToEdit = document.getElementById('formToEdit');

            axios.get(`/produtos/${id}`)
            .then(result => {
                const { data } = result;
                nameToEdit.value = data.name
                descriptionToEdit.value = data.description
                quantToEdit.value = data.quantity
                priceToEdit.value = data.price
                imageToEdit.src = `images/${data.filename}`
                formToEdit.action = `/produtos/${idToEdit}`
            });
        }

        const handleDelete = () => {
            axios.delete(`/produtos/${idToDelete}`)
            .then(result => {
                window.location = '/produtos'
            })
        }

        const handleShow = (id) => {
            const nameToShow = document.getElementById('floatingTextShow');
            const descriptionToShow = document.getElementById('textareaModalShow');
            const quantToShow = document.getElementById('floatingQuantShow');
            const priceToShow = document.getElementById('floatingPriceShow');
            const imageToShow = document.getElementById('imageToShow');

            axios.get(`/produtos/${id}`)
            .then(result => {
                const { data } = result;
                nameToShow.value = data.name
                descriptionToShow.value = data.description
                quantToShow.value = data.quantity
                priceToShow.value = data.price
                imageToShow.src = `images/${data.filename}`
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>